*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--nuvii-color-canvas);
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: var(--nuvii-color-text);
  background: var(--nuvii-color-canvas);
  font-family: var(--nuvii-font-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button,
input {
  font: inherit;
}

button,
label,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--nuvii-color-selected);
}
